:root {

  /* Font Size */
    --fs-400: .0.9rem ;

  /* Color scheme */
    --highlight: #e67d00;
    --bgcolor: #ffff;
    --textcolor: #00ab51;
    --extracolor: #a28d65;
    --greenish: #218274;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    blockquote {
      background: #f9f9f9;
    }

    body {
	color: var(--extracolor);
	background:  var(--bgcolor);
    }

    a {
      color: var(--highlight);
    }

    header {
      background: #f7941d;
    }

    .article-meta, .menu a {
      background: #E8DBC5;
      color: #000;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #ddd; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #eee }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #15120c;
    }

    section{
      background-color: #15120c;
    }

    blockquote {
      background: #393E41;
    }

    a {
      color: var(--highlight);
    }


    .article-meta, .menu a {
      background: #393E41;
      color: white;
    }

    table {
      margin: auto;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
    }
    table thead th { border-bottom: 1px solid #666; }
    th, td { padding: 5px; }
    tr:nth-child(even) { background: #666 }

}

@media (min-width: 40em) {
    :root {
	--fs-400: 1.01rem ;
    }
}


/* ------- Sections ------- */

section {
    padding: calc(2em + 4vw) 0vw 0vw 0vw;
    /* ! Everything below is needed ! */
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: var(--bgcolor);
}

section:target { /* Show section */
    display: block;
}

section#home { /* Show #home by default */
    display: block;

}

section {
    font-size: var(--fs-400);
    margin: 0 0 1em 0;
}

section:target iframe {
    visibility: visible;
}

#new {
    text-shadow: b -2px 0;
    color: var(--highlight);
}

time {
    color: var(--extracolor);
}

p, em, span {
    color: var(--textcolor);
}



body {
  max-width: 800px;
  margin: auto;
  padding: .2em;
  line-height: 1.5em;
  position: relative;
}

h1 {
  line-height: 1.5em;
  color: var(--highlight);
}

/* Table of Contents, if wanted

Add to yaml:

output:
  blogdown::html_page:
    toc: true

    */

#TableOfContents, #TOC {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* Header and Footer */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  border-style: dotted;
  border-width: 1px;
  margin-bottom: 20px;
}

.terms { font-size: .9em; }
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }

.pull-left {
    float: left
}
.pull-right {
    float: right
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Decoration when Link visited */
a:visited {
    text-decoration: none;
}

/* Decoration when Link unvisited */
a:link {
    text-decoration: none;

}

/* Decoration when Link active */
a:active {
    text-decoration: underline;
}

/* Adjust background at your leisure! */
header {
    position: absolute;
    width: 100%;
    height: 1.75rem;
    font-size: 1rem;
    z-index: 2;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}
header nav {
    padding: 0 0.5rem
}

header a {
    color: #fff;
    line-height: 1.75rem;
    padding: 0 0.5rem
}
header a:hover,
header .current a {
    color: #fff
}

/* Code Boxes */
pre {
  border: 2px solid var(--extracolor);
  padding: 1em;
  overflow-x: auto;
}
pre code { background: none; }

/* Images, tables, misc. */
img, iframe, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  hyphens: auto;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
  hyphens: auto;
  display: block;
  font-size: 1em;
}
main a {
  font-weight: bold;
}

blockquote {

  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

.content-wrapper {
  padding: 0px 12px 0px 12px;
}
#foxy {
  min-width: 40px;
  float: right;
  padding: 10px;
  display: block;
}

/* Responsive List */
.list {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    padding-left: 2ch;
}

/* Responsive Navbar */
.nav {
    height: 2.80rem;
    width: 100%;
    background-color: var(--greenish);
    position: relative;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    z-index: 30;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 7px 10px 10px;
    text-decoration: none;
    color: #ffff;
}

.nav > .nav-links > a:hover {
    color: var(--highlight);
}

.nav > #nav-check {
    display: none;
}

.ringwidget {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Small devices, phones */
@media only screen and (min-width : 480px) {
  #foxy {
    min-width: 40px;
    float: center;
    padding: 10px 10px 10px 20px;
    display: block;
  }

  .list {
      display: grid;
      grid-gap: .5em;
      grid-column-gap: .1em;
      grid-template-columns: repeat(auto-fill, minmax(150px, 2fr)); /* 150px = minimum image size */
      grid-auto-flow: dense;
      padding-left: 2ch;
      flex-shrink: 3;
  }
}

@media (max-width: 755px) {
    .nav > .nav-btn {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
    }
    .nav > .nav-btn > label {
	display: inline-block;
	width: 35px;
	height: 24px;
	padding: 10px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
	display: block;
	width: 25px;
	height: 10px;
	border-top: 2px solid #eee;
    }
    .nav > .nav-links {
	position: absolute;
	display: block;
	width: 100%;
	background-color: var(--greenish);
	height: 0px;
	transition: all 0.2s ease-in;
	overflow-y: hidden;
	top: 50px;
	left: 0px;
    }
    .nav > .nav-links > a {
	display: block;
	width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
	height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
	height: calc(100vh - 50px);
	overflow-y: auto;
    }
}

